version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: turnospro_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: turnospro
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    container_name: turnospro_redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  data: